<!-- templates/base.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>mon blog personnel</title>
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    <script src="{% static './js/scripts.js' %}"></script>
</head>
<body>
<h1>My Personal Blog</h1>
<a href="{% url "blog_index" %}">Home</a>
<hr>
{% block page_title %}{% endblock page_title %}
{% block page_content %}
{% endblock page_content %}
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>
</body>
</html>